@page
@model AppSec_Assignment_2.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<h2>You have been logged out</h2>
<p>Thank you for visiting Ace Job Agency.</p>
<p><a asp-page="/Account/Login">Click here to login again</a></p>
